.batman-1 {
    background-color:grey;
    color:black;
    font-size: 20px;
    padding: 10px;
}
.batman-2 {
    background-color:rgb(174, 127, 8);
    color:white;
    font-size: 20px;
    padding: 10px;
}
.spiderman-1 {
    background-color:rgb(23, 23, 185);
    color:white;
    font-size: 20px;
    padding: 10px;
}
.spiderman-2 {
    background-color:rgb(139, 10, 10);
    color:white;
    font-size: 20px;
    padding: 10px;
}
.table {
    background-color: black;
}
.header {
    font-style: italic;
    color:white;
    font-size: 50px;
  }
  #main-body {
    background-color: rgb(187, 160, 12);
  }
  p{
    font-size: 30px;
  }
  #spiderman-v-batman {
    display:block;
    margin: auto;
}
.lists {
font-size: 30px;
background-color: rgb(160, 13, 13);
border: 3px dotted;
width: max-content;
}
#header {
    font-size:50px;
    text-align: center;
    text-decoration: underline;
    font-style:oblique;
}
#spiderman {
    display: block;
    float: right;
}